{
    "degree": 19,
    "num_advice": 1,
    "num_lookup_advice": 1,
    "num_fixed": 1,
    "lookup_bits": 12,
    "bodyhash_regex_filepath": "./test_data/regex_bodyhash.txt",
    "bodyhash_substr_filepath": "./test_data/substr_bodyhash.txt",
    "header_regex_filepathes": [
        "./test_data/regex_from.txt",
        "./test_data/regex_to.txt"
    ],
    "header_substr_filepathes": [
        "./test_data/substr_from.txt",
        "./test_data/substr_to.txt"
    ],
    "body_regex_filepathes": [
        "./test_data/regex_body_test_ex1.txt",
        "./test_data/regex_body_test_ex1.txt"
    ],
    "body_substr_filepathes": [
        "./test_data/substr_body_test_ex1_1.txt",
        "./test_data/substr_body_test_ex1_2.txt"
    ],
    "num_sha2_compression_per_column": 1,
    "header_max_byte_size": 512,
    "body_max_byte_size": 512,
    "public_key_bits": 2048,
    "header_substr_regexes": [
        [
            "(?<=from:).*@.*(?=\r)"        
        ],
        [
            "(?<=to:).*@.*(?=\r)"
        ]
    ],
    "body_substr_regexes": [
        [
            "(?<=Transfer )(0|1|2|3|4|5|6|7|8|9|.)+(?= ETH)"
        ],
        [
            "(?<= ETH to ).*@.*(?=\r)"
        ]
    ]
}