{
    "degree": 19,
    "num_advice": 40,
    "num_lookup_advice": 1,
    "num_fixed": 1,
    "lookup_bits": 12,
    "bodyhash_regex_filepath": "./test_data/regex_bodyhash.txt",
    "bodyhash_substr_filepath": "./test_data/substr_bodyhash.txt",
    "header_regex_filepathes": [
        "./test_data/regex_from.txt",
        "./test_data/regex_to.txt"
    ],
    "header_substr_filepathes": [
        "./test_data/substr_from.txt",
        "./test_data/substr_to.txt"
    ],
    "body_regex_filepathes": [
        "./test_data/regex_body_test2.txt",
        "./test_data/regex_body_test2.txt"
    ],
    "body_substr_filepathes": [
        "./test_data/substr_body_test2_1.txt",
        "./test_data/substr_body_test2_2.txt"
    ],
    "num_sha2_compression_per_column": 1,
    "header_max_byte_size": 512,
    "body_max_byte_size": 512,
    "public_key_bits": 2048,
    "header_substr_regexes": [
        [
            "(?<=from:).*@.*(?=\r)"
        ],
        [
            "(?<=to:).*@.*(?=\r)"
        ]
    ],
    "body_substr_regexes": [
        [
            "(?<=email was meant for @)(a|b|c|d|e|f|g|h|i|j|k|l|m|n|o|p|q|r|s|t|u|v|w|x|y|z|A|B|C|D|E|F|G|H|I|J|K|L|M|N|O|P|Q|R|S|T|U|V|W|X|Y|Z|0|1|2|3|4|5|6|7|8|9|_)+"
        ],
        [
            "and (a|b|c|d|e|f|g|h|i|j|k|l|m|n|o|p|q|r|s|t|u|v|w|x|y|z)+(?=.)"
        ]
    ]
}