{
    "degree": 13,
    "num_advice": 60,
    "num_lookup_advice": 4,
    "num_fixed": 1,
    "lookup_bits": 12,
    "header_regex_filepath": "./test_data/regex_header_test2.txt",
    "body_regex_filepath": "./test_data/regex_body_test2.txt",
    "body_hash_substr_filepath": "./test_data/substr_header_test2_1.txt",
    "header_substr_filepathes": [
        "./test_data/substr_header_test2_2.txt",
        "./test_data/substr_header_test2_3.txt",
        "./test_data/substr_header_test2_4.txt"
    ],
    "body_substr_filepathes": [
        "./test_data/substr_body_test2_1.txt",
        "./test_data/substr_body_test2_2.txt"
    ],
    "num_sha2_compression_per_column": 1,
    "header_max_byte_size": 1024,
    "body_max_byte_size": 1024,
    "public_key_bits": 2048
}